<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cosmos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-img src="assets/cosmos.jpg"></ion-img>

  <div padding text-justify>
      <p>Cosmos é o termo usado para designar o universo como um todo, toda a sua estrutura universal, do microcosmo ao macrocosmo, das estrelas até as particulas subatômicas, essas menores que os átomos.</p>
  </div>
  
  <ion-button color="primary" expand="full" class="animated flash delay-3s" (click)="abrirPagina('explorar-cosmos')">
    Desbrave o cosmos
  </ion-button><br>
</ion-content>
