<ion-header>
  <ion-toolbar>
    <ion-title>Voltar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  <ion-content padding color="dark" text-justify>
    
    <ion-text color="primary">
      <h2 text-center>Estrutura da Via Láctea</h2>
    </ion-text>
    <br>
  
    <p>A Via Láctea é uma galáxia do tipo espiral barrada e é formada por 4 estruturas principais:</p>
    <ion-img src="assets/via-lactea-estrutura.jpg"></ion-img>
  
    <ul>
      <li>
        A região central é formada sobretudo por estrelas, chamada de <b>bojo central</b>
      </li>
      <li>
        Ao seu redor está o <b>disco galáctico</b>, onde encontram-se nebulosas, estrelas, e regiões de formação estelar.
      </li>
      <li>
        O disco galáctico está organizando de forma que constitui os <b>quatro braços espirais principais da galáxia</b>.
      </li>
      <li>
          Por fim, ao redor destas estruturas está o <b>halo galáctico</b>, cujos componentes mais proeminentes são os aglomerados globulares de estrelas antigas que orbitam o centro galáctico.
      </li>
    </ul>
  
  </ion-content>
      