<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" text-justify padding>
  <ion-text text-center color="primary">
    <h1>Sobre o aplicativo</h1>
  </ion-text>

  <p>
    O aplicativo PalmSpace é resultado de um trabalho de conclusão de curso de ciência da computação.
  </p>

  <p>
    Fazem parte do time de desenvolvimento: Diogo Loiola Melo (aluno), Luan Motta de Farias (aluno), Marcelo Soares Loutfi (orientador).
  </p>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="img">
      <ion-img src="assets/logo-unisuam.png"></ion-img>
    </div>
  </ion-toolbar>
</ion-footer>
