<ion-header>
    <ion-toolbar>
      <ion-title>Voltar</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content color="dark" padding text-justify>
  <ion-text color="primary">
    <h1 text-center>As mortes de uma estrela</h1>
  </ion-text>

<h4>Anã Branca</h4>
<p>
  Uma vez passada o estágio da gigante vermelha, as camadas mais externas se dissipam deixando somente um núcleo, bem concentrando, girando sob força gravitacional.
</p>

<h4>Estrela de Nêutrons</h4>
<p>
  Quando uma estrela é mais massiva, por exemplo, tem cerca de 8x a massa do sol, a sua morte pode ser um pouco mais violenta e espetacular. Após acabar seu combustível, ela ficará instável e irá sofrer com a gravidade. Só que pelo fato de ela ser mais massiva, a queda das camadas externas são mais violentas, a estrela pode vir a gerar uma enorme explosão gerando uma supernova que combinado com o colapso gravitacional, que comprime o núcleo após a densidade da estrela anã branca ao dos núcleos atômicos, desse jeito a gravidade é forte o suficiente para esmagar os eletros e prótons juntos, formando os nêutrons e neutrinos. 
</p>
<p>
  A gravidade continua esmagando esses nêutrons até esbarrar no Princípio de Exclusão de Pauli, onde, simplifiando, diz que duas partículas não podem ocupar o mesmo estado quântico simultaneamente, surgindo assim uma estrela de nêutrons.
</p>
<p>
  A estrela de nêutrons assim como qualquer outra, apresenta uma  relação de proporção inversa entre massa e raio. Quanto maior a massa da estrela de neutrons, menor seu raio. Seu tamanho extremamente pequeno implica que elas giram muito rápido, devido à conservação de momento angular.
</p>
<p>
  Uma estrela de nêutrons não é formada somente de nêutrons, também há prótons e elétrons. A rotação intensa da estrela com algumas partículas atomicamente carregadas, existe em torno de estrela um campo magnético. Quando a estrela gira, um feixe de energia é espalhado, emitindo um fluxo de energia constante e por conta desse fluxo de energia as estrelas de nêutrons por vezes são chamadas de <b>pulsares</b>.</p>
  <ion-img src="assets/pulsar.jpg"></ion-img>
  <label class="legenda">O telescópio Fermi descobriu este pulsar com a emissão de raios gama. O pulsar está localizada em áreas remanescentes de supernova CTA1, localizada a cerca de 4.600 anos-luz de distância na constelação de Cepheus.</label>

<h4>Buraco Negro</h4>
<p>A formação de um
  <ion-chip color="primary" outline routerLink="/buracos-negros">
    <ion-label>buraco negro</ion-label>
  </ion-chip>
  se dá quando a massa de uma estrela é gigante, equivalente a 30x mais massa que o sol, essa estrela sofre uma explosão ainda maior que a supernova, essa explosão é chamada de <b>hipernova</b>. É tanta massa condensanda em um único ponto que a força gravitacional é tão intesa que nem mesmo a luz pode escapar desse núcleo chamado de <b>horizonte de eventos</b>.</p>
</ion-content>
