<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cluster</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content color="dark">
  <ion-img src="assets/cluster.gif"></ion-img>
  <p text-center>
    <b>Um aglomerado de estrelas fascinante.</b>
  </p>

  <div padding text-justify>
    <p>
      O cluster, também chamado de <b>aglomerado de estrelas</b>, são grupos de estrelas presentes no disco de nossa galáxia ou a de outras galáxias.
    </p>
    <p>
      Estes conjuntos estelar geralmente incluem centenas ou milhares de estrelas obrigado pela força da gravidade e da órbita de um centro de massa comum. 
    </p>

    <ion-list>
      <ion-item color="primary" routerLink="/cluster-formacao">
        <ion-icon class="animated flash delay-3s" slot="end" name="ios-arrow-forward" ></ion-icon>
        <ion-label>Como um cluster é formado</ion-label>
      </ion-item>
      
      <ion-item color="primary" routerLink="/cluster-tipos">
        <ion-icon class="animated flash delay-4s" slot="end" name="ios-arrow-forward" ></ion-icon>
        <ion-label>Tipos de clusters</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>