<ion-header>
  <ion-toolbar>
    <ion-title>Voltar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding text-justify>
  <ion-text color="primary">
    <h2 text-center>Formação de um buraco negro</h2>
  </ion-text>
  <p>
    Estrelas nascem, vivem e morrem no universo, e a morte de uma
    <ion-chip color="primary" outline (click)="abrirPagina('estrelas')">
      <ion-label>estrela</ion-label>
    </ion-chip>
     está diretamente ligado ao buraco negro. Porém nem toda estrela que explode dará origem a um buraco negro.
  </p>
  <p>
    Para isso acontecer, a estrela tem que ser gigante, supermassiva, por exemplo, pesar cerca de 20x mais que a massa do sol ou ainda mais.
  </p>

  <p>
    O centro de uma estrela é tão quente e gera tanta energia que se transforma em uma verdadeira fábrica de luz, alimentando-se principalmente de hidrogênio, gás comum no Universo e que é encontrado na água. O hidrogênio é o principal combustível para essas estrelas (o gás hélio também), assim como é para o nosso Sol (que também é uma estrela).
  </p>
  <p>
    Depois de bilhões de anos brilhando e iluminando o Universo, esse combustível acaba e a estrela da inicio a sua "morte". Acabando o combustível que sustentava a estrela, o núcleo começa a se contrair, não suportando o peso das camadas que estão acima do núcleo. Esse fenômeno é chamado de <b>hipernova</b>, é a explosão de uma estrela gigante, que ocorre durante os estágios finais de sua evolução.
  </p>
  <p>
    Uma hipernova resulta em um buraco negro e produz longas erupções de raios gama, que podem ter de dois segundos até um minuto de duração. Os raios gama são a forma de luz mais energética existente, tendo de dez mil até dez milhões de vezes mais energia que a luz que nós podemos ver com os nossos olhos.
  </p>
  <p>
    Na verdade, a atração em direção ao núcleo é tão forte fazendo com que a sua densidade se torne infinita com o acúmulo da massa em um único ponto. que nada consegue escapar, nem mesmo a luz. Como a luz não escapa, esse corpo é escuro. Por isso, recebe o nome de buraco negro. Esse núcleo escuro é chamado de <b>horizonte de eventos</b>.
  </p>
  
  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>Curiosidades</ion-card-subtitle>
      <ion-card-title>E o Sol?</ion-card-title>
    </ion-card-header>
      
    <ion-card-content text-justify>
      <ion-img src="assets/sol.jpg"></ion-img>
      <br>
      <p>O Sol vai morrer, como qualquer estrela, mas segundo os cientistas para que isso aconteça irá demorar alguns bilhões de anos. O Sol não tem tamanho suficiente para que se torne um buraco negro. Provavelmente  quando todo o hidrogênio e o hélio for queimado por sua fusão nuclear, durante a queima do hélio, o sol irá se expandir. Neste momento o Sol vai atingir uma dimensão, um raio, que vai engolir a Terra e virará uma gigante vermelha.</p>
      <p>Depois de virar uma gigante vermelha, o que vai sobrar, após ser expelido o que se expandiu em torno da região quente central, será um caroço quente, uma anã branca, que depois vai pouco a pouco se esfriar.</p>
    </ion-card-content>
  </ion-card>
<!--
  <ion-card color="primary" text-justify>
    <ion-img src="assets/toria-da-relatividade.jpg"></ion-img>
    <ion-card-content text-justify>
      <ion-card-title text-center>Teoria da Relatividade Geral</ion-card-title><br>
      <p>
        Se fosse possível passar 1 ano dentro de uma nave espacial, que se desloca a 1,7 bilhões de km, e ao retornar para a terra as pessoas estariam cerca de 10 anos mais velhas, já que nós, na terra, estaríamos praticamente parados em relação as pessoas da nave. Já para os tripulantes da nave o tempo passou mais devagar. Dessa forma o tempo não é mais universal, o tempo passa a ser relativo.
      </p>
      <p>
        Então, de acordo com a Teoria da Relatividade, se o deslocamento de um corpo alcançasse a velocidade da luz o tempo deixaria de passar.
      </p>
      <p>
        Em 1916 Einstein redefiniu a gravidade, mostrando que espaço, tempo, massa e gravidade estão intimamente ligados. Um exemplo é que o sol curva tanto o espaço ao seu redor que mantem todos os planetas e corpos celestes na sua orbita. E quanto maior a gravidade mais lento é o tempo, essa força foi definida por Einstein como curvatura no espaço-tempo.
      </p>
    </ion-card-content>
  </ion-card>
  -->
</ion-content>
