<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Via Láctea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-img src="assets/cosmos.jpg"></ion-img><br>
  <p text-center><b>Existem diversas galáxias pelo Universo é uma delas é a Via Láctea, a galáxia na qual o sistema solar faz parte.</b></p>

  <div padding text-justify>

    <ion-list>
      <ion-item color="primary" routerLink="/via-lactea-estrutura">
        <ion-icon class="animated flash delay-3s" slot="end" name="ios-arrow-forward" ></ion-icon>
        <ion-label>Estrutura da Via Láctea</ion-label>
      </ion-item>
      
      <ion-item color="primary" routerLink="/via-lactea-midia">
        <ion-icon class="animated flash delay-4s" slot="end" name="ios-arrow-forward" ></ion-icon>
        <ion-label>A Via Láctea vista pelo mundo</ion-label>
      </ion-item>
    </ion-list>

  </div>

</ion-content>
  