<ion-header>
  <ion-toolbar>
    <ion-title>Voltar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding text-justify>
  <ion-text color="primary">
    <h2 text-center>Formação de um cluster</h2>
  </ion-text>
  <p>
      Os clusters são formados a partir de grandes nuvens de gás molecular. Isso significa que elas se formam em grupos ou aglomerados de estrelas, já que as nuvens moleculares possuem centenas de massas solares de gás.
    <p>
    
    <p>
      Após o gás remanescente da formação estelar ser aquecido e ejetado, as estrelas se aglomeram em função da gravidade. Ao interagirem gravitacionalmente, estrelas trocam energia mecânica umas com as outras e algumas podem eventualmente ter energia suficiente para escapar do proto-aglomerado. As restantes se manterão ligadas ao sistema, compartilhando do mesmo campo gravitacional , e nele orbitando indefinidamente.
    </p>
    <ion-img src="assets/cluster-formacao.gif"></ion-img>
</ion-content>
  