<ion-header>
  <ion-toolbar>
    <ion-title>Voltar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding text-justify>

  <ion-text color="primary" text-center>
    <h2>Formação de um planeta</h2>
  </ion-text>

  <p>
    A Formação de um planeta é oriundo de uma nuvem de gás e poeiras, chamado de nebulosa. A formação de gás, poeira e outros materiais, amontoam-se formando massas maiores, assim atraindo mais massas, tornando-se maciças o suficientes para dar origem a estrelas, planetas e outros objetos que formam um sistema planetário.
  </p>
  <p>
    Tendo como parâmetro a diversidade de planetas que há no nosso sistema, é esperado que haja exoplanetas dos mais variados tamanhos e composições químicas, indo de planetas rochosos até planetas gigantes e gasosos.
  </p>
</ion-content>
