<ion-content color="dark">
  <ion-card color="light" text-justify>
    <ion-card-header>
      <ion-img src="assets/galaxias/galaxiaanel.jpg"></ion-img>
      <label class="legenda"> Galáxia em anel: Objeto de Hoag</label>
      <br>
      <br>

      <ion-img src="assets/galaxias/galaxiamultianel.jpg"></ion-img>
      <label class="legenda"> Galáxia multi-anel: Andromeda</label>
      <br>
      <br>

      <ion-img src="assets/galaxias/galaxialenticular.jpg"></ion-img>
      <label class="legenda"> Galáxia Lenticular: NGC 5866</label>
      <br>

      <ion-card-subtitle>Tipos de galáxias</ion-card-subtitle>
      <ion-card-title>Outras morfologias</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
        <p>
            <b>Galáxia em Anel e Multi-Anel:</b> Esse tipo de galáxia  possui uma estrutura de estrelas e meio interestelar em forma de anel, circundando um núcleo vazio.
        </p>
        <p>
          <b>Galáxia Lenticular:</b> é uma forma intermediária que possui propriedades tanto de galáxias elípticas quanto de espirais. 
        </p>
    </ion-card-content>

    <div class="botao" text-center>
      <ion-button color="medium" routerLink ="/galaxia" routerDirection="back">
        <ion-icon slot="start" name="close" size="large"></ion-icon>
        Fechar
      </ion-button>
    </div>
    <br>

  </ion-card>
</ion-content>
