<ion-header>
  <ion-toolbar>
    <ion-title>Voltar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark" text-justify>
  <ion-text color="primary">
    <h2 text-center>Asteroides</h2>
  </ion-text>
  <br>
  <ion-img src="assets/sistema-solar/asteroides.jpg"></ion-img><br>

  <p>
      São corpos rochosos e metálicos que possuem orbitas definidas ao redor do sol.
  </p>

</ion-content>
    