<ion-header>
  <ion-toolbar>
    <ion-title>Voltar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding text-justify>
  <ion-text color="primary">
    <h2 text-center>Formação de uma estrela</h2>
  </ion-text>
  <p>
    As estrelas nascem a partir de nuvens enormes, compostas de gases como hidrogênio, hélio e poeira. No inicio de sua formação a gravidade faz a nebulosa girar em torno do próprio eixo e com uma força de atração para o centro.
  </p>

  <p>
    Essa força da gravidade faz a nebulosa encolher e se dividir em aglomerados menores de gás. Inversamente proporcional ao tamanho do corpo, quanto menor o tamanho do aglomerado de gases, maior a força da gravidade exercida sobre o corpo. A medida que o gás se condensa, a atração gravitacional fica cada vez maior, isso faz com que a nebulosa gire cada vez mais rápido, aumentando assim a temperatura e a pressão até um ponto que os átomos de hidrogênio se fundem formando átomos de hélio e gerando uma grande liberação de energia. Esse processo é chamado de <b>Fusão termonuclear</b>.
  </p>
  
  <p>
    Como a gravidade continua atuando fazendo as estrelas se contraírem cada vez mais, para que a estrela não entre em colapso, o processo de fusão deve continuar gerando energia e fazendo pressão contra a gravidade, agindo como um cabo de guerra entre as duas forças tentando manter o astro instável.
  </p>

  <p>
    Esse equilibro entre a força da gravidade e a expansão do gás do centro de uma estrela pode durar bilhões de anos. Esse tempo depende da massa da estrela.
  </p>
  <ion-img src="assets/sol-explosoes-solares.gif"></ion-img>
  <label class="legenda">Animação computacional do Sol</label>

  <ion-card color="light">
      <ion-card-header>
        <ion-card-subtitle>Curiosidades</ion-card-subtitle>
        <ion-card-title>Surgimento de planetas</ion-card-title>
      </ion-card-header>
        
      <ion-card-content text-justify>
        <ion-img src="assets/estrela-colapsando.jpg"></ion-img>
        <br>
        <p>No inicio da vida a maioria das estrelas apresenta um disco de gás e poeira ao redor, chamado de disco protoplanetário. Isso acontece devido a força da gravidade, que faz com que a nebulosa se achate em um plano e com o passar do tempo o material desse disco é expelido e a partir dele planetas podem se formar aos arredores da estrela. Provavelmente foi assim que o nosso sistema solar nasceu.</p>
      </ion-card-content>
    </ion-card>

    <p>
      Uma estrela da inicio a sua morte quando esses gases que alimentam a estrela começam a se esgotar. Sem a fusão termonuclear seu gás começa a esfriar e a pressão começa a cair, sem essa força a estrela não consegue aguentar o peso das camadas externas e o colapso se inicia.
    </p>

    <ion-card color="primary">
      <ion-img src="assets/sol-equilibrio.jpg"></ion-img>
      <ion-card-content text-justify>
        <ion-card-title text-center>Estrutura Estelar</ion-card-title>
        <p>
          Todas as estrelas adultas são compostas por camadas que estão em equilíbrio  hidrostático. O núcleo produz a energia e as outras camadas a transmite.
        </p>
      </ion-card-content>
    </ion-card>

    <h2 text-center>O nascimento da Gigante Vermelha</h2>
    <ion-card color="primary">
      <ion-img src="assets/gigante-vermelha.jpg"></ion-img>
        <ion-card-content text-justify>
          <ion-card-title text-center>Gigante Vermelha</ion-card-title>
          <p>
            No estágio que a estrela entra em colapso, a contração da estrela é tão poderosa que os átomos de hélio se fundem dando origem a elementos mais pesados como o carbono e oxigênio. Em resposta a superfície começa a se expandir e o astro pode alcançar até 100x o seu tamanho original. A partir desse momento, as estrelas nesse estágio passam a ser referidas pelos cientistas como <b>gigante vermelha</b>. 
          </p>
        </ion-card-content>
      </ion-card>  
</ion-content>
