<ion-header>
  <ion-toolbar>
    <ion-title>Voltar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-justify color="dark">

  <ion-text text-center color="primary">
    <h2>A Via Láctea vista pelo mundo</h2>
  </ion-text>

  <div text-justify padding>
    <p>
        Vista da Terra, a Via Láctea aparece como uma faixa brilhante e difusa que circunda toda a esfera celeste. Abaixo algumas fotos da nossa galáxia:
    </p>
  </div>
 
  <div class="midia">
    <ion-img src="assets/via-lactea-terra1.jpg"></ion-img>
    <legend>Via-Láctea vista do Deserto Atacama - Chile</legend>
  </div>
  <div class="midia">
    <ion-img src="assets/via-lactea-terra2.png"></ion-img>
    <legend>Via-Láctea vista das Ilhas Canárias - Espanha</legend>
  </div>
  <div class="midia">
    <ion-img src="assets/via-lactea-terra3.png"></ion-img>
    <legend>Via-Láctea vista da Chapada Diamantina - Brasil</legend>
  </div>
  <div class="midia">
    <ion-img src="assets/via-lactea-terra4.jpg"></ion-img>
    <legend>Via-Láctea vista de Fjarðabyggð - Inslândia</legend>
  </div>

  <div class="midia">
    <div class="video-responsive">
        <iframe width="909" height="682" src="https://www.youtube.com/embed/PiaR-nXtFlc" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <legend>Filmagem produzida no Rio Grande do Sul - Brasil</legend>
  </div>

  <div class="midia">
    <div class="video-responsive">
        <iframe width="909" height="682" src="https://www.youtube.com/embed/mDIvMQnSrfI" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <legend>Filmagem produzida no Deserto do Atacama - Chile</legend>
  </div>



</ion-content>
