.midia{
    margin-bottom: 20px;
    font-size: 12px;
    color: gray;
    //margin-top: 10px;
}

legend{
    padding: 5px;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
 }
 .video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
 }