<ion-header>
  <ion-toolbar>
    <ion-title>Voltar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
  <ion-text color="primary">
    <h2 text-center>Planetas Anões</h2>
  </ion-text>
  <br>
  <ion-img src="assets/sistema-solar/planetas-anoes.jpg"></ion-img><br>

  <p text-justify>
      Os Planetas anões orbitam ao redor do sol, são grandes o suficiente para que a sua gravidade deixe em formato esférico, porém eles não possuem massa superior aos corpos celestes que orbitam, possuindo satélites com massa de valor próximo a massa dos planetas anões. O sistema solar possui cinco: <b>Ceres, Plutão, Haumea, Makemake e Éris.</b>
  </p>

</ion-content>
  