<ion-header>
  <ion-toolbar>
    <ion-title>Voltar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
  <ion-text color="primary">
    <h2 text-center>Planetas</h2>
  </ion-text>
  <p>
      Além do sol, estrela central do Sistema Solar, há também os planetas. São eles:
  </p>

  <ion-img src="assets/sistema-solar/planetas.jpg"></ion-img><br>

  <ion-list>
      <ion-list-header color="primary">
        <ion-label>Planetas Terrestres</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon-mercurio.jpg">
        </ion-avatar>
        <ion-label>Mercúrio</ion-label>
        <p class="legenda">Sem satélite</p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon-venus.jpg">
        </ion-avatar>
        <ion-label>Vênus</ion-label>
        <p class="legenda">Sem satélite</p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon-terra.jpg">
        </ion-avatar>
        <ion-label>Terra</ion-label>
        <p class="legenda">Lua</p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon-marte.jpg">
        </ion-avatar>
        <ion-label>Marte</ion-label>
        <p class="legenda">Fobus e Deimos</p>
      </ion-item><br>
  
      <ion-list-header color="primary">
        <ion-label>Planetas Jupiterianos</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon-jupiter.jpg">
        </ion-avatar>
        <ion-label>Júpiter</ion-label>
        <p class="legenda">Possui 79 satélites</p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon-saturno.jpg">
        </ion-avatar>
        <ion-label>Saturno</ion-label>
        <p class="legenda">Possui 62 satélites</p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon-urano.jpg">
        </ion-avatar>
        <ion-label>Urano</ion-label>
        <p class="legenda">Possui 27 satélites</p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon-netuno.jpg">
        </ion-avatar>
        <ion-label>Netuno</ion-label>
        <p class="legenda">Possui 14 satélites</p>
      </ion-item>
    </ion-list>
    
    <ion-card color="primary">
      <ion-img src="assets/planetas-terrestres.jpg"></ion-img>
      <ion-card-content text-justify>
        <ion-card-title text-center>Planetas Terrestres</ion-card-title>
        <p>
          São os planetas mais próximos do sol. Possuem menor dimensão do que os planetas jupterianos. Possuem superfície rochosa e material magnético no seu interior, apresentando menor força gravitacional e por isso menor número de satélites do que os jupiterianos.
        </p>
        <p>
          A Terra possui um satélite, a Lua. Marte dois, Fobos e Deimos. Mercúrio e Vênus não possuem satélites.
        </p>
      </ion-card-content>
    </ion-card>  
  
    <ion-card color="primary">
      <ion-img src="assets/planetas-jupiterianos.jpg"></ion-img>
      <ion-card-content text-justify>
        <ion-card-title text-center>Planetas Jupiterianos</ion-card-title>
        <p>
            São os planetas mais distantes do Sol, com dimensões maiores que os terrestres. Todos constituem superfície gasosa não possuindo superfícies sólida. Júpiter é o maior planeta de todos no sistema, possui o maior número de satélites. Logo depois vem Saturno, Urano e Netuno. Esses planetas possuem grandes massas e forte atração gravitacional e por isso constituem anéis e inúmeros satélites.
        </p>
      </ion-card-content>
    </ion-card>

</ion-content>
