<ion-content color="dark">
  <ion-card color="light" text-justify>
    <ion-card-header>
      <ion-img src="assets/galaxias/galaxiaeliptica.jpg"></ion-img>
      <label class="legenda"> Galáxia NGC 1316</label>
      <br>
      <br>
      <ion-img src="assets/galaxias/galaxiaelipticaa.jpg"></ion-img>
      <label class="legenda"> Galáxia ESO 325-G004</label>
      <br>

      <ion-card-subtitle>Tipos de galáxias</ion-card-subtitle>
      <ion-card-title>Galáxia Elípticas</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
        Essas galáxias têm um perfil elipsoidal, o que lhes confere uma aparência elíptica independentemente do ângulo de visão.
    </ion-card-content>

    <div class="botao" text-center>
      <ion-button color="medium" routerLink="/galaxia" routerDirection= "back">
        <ion-icon slot="start" name="close" size="large"></ion-icon>
        Fechar
      </ion-button>
    </div>
    <br>
  
  </ion-card>
</ion-content>
