<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      PalmSpace
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" class="card-background-page">
  
  <ion-card (click)="abrirPagina('universo-observavel')" >
    <img src="assets/cards/card-universo-observavel.png">
    <div class="card-title">Universo Observável</div>
    <div class="card-subtitle">Observe o Universo</div>
  </ion-card>
  
  <ion-card (click)="abrirPagina('estrelas')" >
    <img src="assets/cards/card-estrela.jpg">
    <div class="card-title">Estrelas</div>
    <div class="card-subtitle">Explore todos os tipos de estrelas</div>
  </ion-card>

  <ion-card (click)="abrirPagina('cluster')" >
    <img src="assets/cards/card-cluster.jpg">
    <div class="card-title">Cluster</div>
    <div class="card-subtitle">Um Aglomerado de estrelas</div>
  </ion-card>

  <ion-card (click)="abrirPagina('buracos-negros')" >
    <img src="assets/cards/card-buraco-negro.jpg">
    <div class="card-title">Buraco Negro</div>
    <div class="card-subtitle">Conheça um dos corpos que mais intrigam os cientistas</div>
  </ion-card>

  <ion-card (click)="abrirPagina('sistema-solar')" >
    <img src="assets/cards/card-sistema-solar.jpg">
    <div class="card-title">Sistema Solar</div>
    <div class="card-subtitle">Conheça um pouco mais sobre o nosso sistema</div>
  </ion-card>

  <ion-card (click)="abrirPagina('exoplanetas')" >
    <img src="assets/cards/card-exoplanetas.jpg">
    <div class="card-title">Exoplanetas</div>
    <div class="card-subtitle">Planetas fora do sistema solar</div>
  </ion-card>

  <ion-card (click)="abrirPagina('via-lactea')" >
    <img src="assets/cards/card-via-lactea.png">
    <div class="card-title">Via Láctea</div>
    <div class="card-subtitle">A galáxia que abriga o sistema solar</div>
  </ion-card>

  <ion-card (click)="abrirPagina('galaxia')" >
    <img src="assets/cards/card-galaxia.jpg">
    <div class="card-title">Galáxia</div>
    <div class="card-subtitle">Descubra além da Via Láctea</div>
  </ion-card>

  <ion-card (click)="abrirPagina('cosmos')" >
    <img src="assets/cards/card-cosmos.jpg">
    <div class="card-title">Cosmos</div>
    <div class="card-subtitle">Desbrave o cosmos</div>
  </ion-card>

  
</ion-content>
