<ion-content color="dark">
  <ion-card color="light" text-justify>
    <ion-card-header>
      <ion-img src="assets/galaxias/galaxiaana.jpg"></ion-img>
      <label class="legenda"> Galáxia anã de sagitário</label>
      <br>
      <br>
      <ion-img src="assets/galaxias/galaxiaanaa.jpg"></ion-img>
      <label class="legenda"> Galáxia NGC 1569</label>
      <br>

      <ion-card-subtitle>Tipos de galáxias</ion-card-subtitle>
      <ion-card-title>Galáxia Anãs</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
        São galáxias relativamente pequenas se comparado a outras formações galácticas.
    </ion-card-content>

    <div class="botao" text-center>
      <ion-button color="medium" routerLink="/galaxia" routerDirection="back">
        <ion-icon slot="start" name="close" size="large"></ion-icon>
        Fechar
      </ion-button>
    </div>
    <br>
    
  
  </ion-card>
</ion-content>
