<ion-header>
  <ion-toolbar>
    <ion-title>Voltar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding text-justify>

  <ion-text color="primary" text-center>
    <h2>A descoberta de um planeta</h2>
  </ion-text>

  <p>Apesar da abundância de planetas no universo, os exoplanetas são de difícil detecção, e a grande maioria dos exoplanetas encontrados são por meio de indícios indireto. Acontece que planetas são menos brilhantes do que as estrelas que emitem luz que esses planetas orbitam, tornando a observação direta praticamente impossível a grandes distancias.</p>

  <p>A grande maioria dos exoplanetas são detectados através da diminuição de brilho quando esses planetas passam na frente da estrela que eles orbitam.</p>

  <p>Já foram descobertos muitos planetas de diversos tipos, formatos e tamanhos. Planetas rochosos, gasosos. Planetas menores que a Terra, e outros 10 vezes mais massivos que a Terra.</p>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>Curiosidades</ion-card-subtitle>
      <ion-card-title>Telescópio Kepler</ion-card-title>
    </ion-card-header>
      
    <ion-card-content text-justify>
      <ion-img src="assets/telescopio-kepler.jpg"></ion-img>
      <br>
      <p>Em Março 2009 o Telescópio Kepler foi colocado em orbita para fazer a detectação de novos planetas.</p>
      <p>Com mais de 2,6 mil planetas localizados para além do sistema solar, em 30 de outubro e 2018 o telescópio parou de realizar pesquisas científicas por falta de combustível. </p>
    </ion-card-content>
  </ion-card>
</ion-content>