<ion-content color="dark">
    <ion-card color="light">
    <ion-card-header>
        <ion-img src="assets/lentes-gravitacionais.gif"></ion-img>
      <ion-card-subtitle>Estrutura do Buraco Negro</ion-card-subtitle>
      <ion-card-title text-left>Singularidade e Lentes Gravitacionais</ion-card-title>
    </ion-card-header>
    
    <ion-card-content text-justify>
        <p>
          Devido a grande força da gravidade, o horizonte de eventos distorce tanto o espaço-tempo que atua como uma lente que desvia a luz do que está atrás., esse fenômeno é chamado de <b>lentes gravitacionais</b>. 
        </p><br>
        <p>
          Segundo cientistas, as leis da física dentro do horizonte de eventos não são aplicáveis. Há um grande mistério quanto ao que veríamos dentro do horizontante de eventos, mas acredita-se que no centro desse horizonte de eventos existe o ponto de <b>singularidade gravitacional</b>.
          </p>
    </ion-card-content>
  
    <div class="botao" text-center>
      <ion-button color="medium" routerLink = "/buraco-negro-estrutura" routerDirection = "back">
        <ion-icon slot="start" name="close" size="large"></ion-icon>
        Fechar
      </ion-button>
    </div>
  </ion-card>
</ion-content>
