<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Buracos Negros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-img src="assets/buraco-negro.jpg"></ion-img>
  <label class="legenda">Foto real de um buraco negro que fica no centro da galáxia M87.</label>
  <p text-center>
      <b>Apesar de terem massas enormes, buracos negros têm tamanhos extremamente compactos e sua presença afeta o ambiente ao seu redor de maneiras extremas, distorcendo o espaço-tempo e superaquecendo qualquer material que se encontre ao seu redor.</b>
  </p>
  <div padding text-justify>
    <p>
      Os buracos negros são, sem dúvida, os objetos mais misteriosos do universo. Juntando o pouco conhecimento que os cientistas tem sobre eles com as dezenas de teorias que há sobre ele, faz-se um prato cheio para as mais fantasiosas (ou não) cenas e catástrofes em filmes de ficção cientifica, indo de um portal usado para viagem no tempo até batalhas sobre buracos negros.
    </p>
    <p>
      Algumas dessas fantasias pode estar mais próxima da realidade do que nós imaginamos.
    </p>

    <ion-list>
      <ion-item color="primary" routerLink="/buraco-negro-formacao">
        <ion-icon class="animated flash delay-3s" slot="end" name="ios-arrow-forward" ></ion-icon>
        <ion-label>O nascimento de um buraco negro</ion-label>
      </ion-item>
      <ion-item color="primary" routerLink="/buraco-negro-estrutura">
        <ion-icon class="animated flash delay-3s" slot="end" name="ios-arrow-forward" ></ion-icon>
        <ion-label>Estrutura de um buraco negro</ion-label>
      </ion-item>
    </ion-list>

  </div>

</ion-content>